:root {
    --renk1: #ebf1f9;
    --renk2: #d7d6ef;
    --renk3: #c3d7ec;
    --renk1golge: #D0D5DC;
    --renk2golge: #B9BAD0;
    --renk3golge: #ADBED0;
}

*{
    box-sizing: border-box;
}

body{
    margin:0px;
    width: 100%;
}


#filtreler,#eskiOykuContainer{
    text-align: center;    
    margin: 4vh 0px;
    display: flex;
    gap:1vw;
    align-items:stretch;
    justify-content: center;
    /* height: 2em; */
    flex-wrap: wrap;
}

button,select{
    font-size:2vh;
    border: none;
    padding: 1vmin;
    border-radius: 1vmin;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    height: 100%;
}

button:hover{
    filter: brightness(90%);
}

#sonraki{
    border-radius: 0 50% 50% 0;
}

#onceki{
    border-radius: 50% 0 0 50%;
}

#sayiMetin{
    text-align: center;
}

table{
    margin:0px;
    border-radius: 2vw;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-spacing: 1px 2px;
}

table td{
    padding: 1vw;
}


table th{
    padding: 1vw;
    background-color: #2c2c2c;
    color: #dcddde;
    font-size: 20px;
}

table th:first-child{
    border-radius: 2vw 0 0 0;
}

table th:last-child{
    border-radius: 0 2vw 0 0;
}

.renk1{
    background-color: var(--renk1);
}

.renk2{
    background-color: var(--renk2);
}
.renk3{
    background-color: var(--renk3);
}

.renk1.cift{
    background-color: var(--renk1golge);
}
.renk2.cift{
    background-color: var(--renk2golge);
}
.renk3.cift{
    background-color: var(--renk3golge);
}
/* tr.cift{
    filter: brightness(90%);
} */

/* tr.renk1.tek:hover{
    background-color: var(--renk1aydinlik);
}
tr.renk2.tek:hover{
    background-color: var(--renk2aydinlik);
}
tr.renk3.tek:hover{
    background-color: var(--renk3aydinlik);
}

tr.renk1.cift:hover{
    background-color: var(--renk1);
}
tr.renk2.cift:hover{
    background-color: var(--renk2);
}
tr.renk3.cift:hover{
    background-color: var(--renk3);
} */


.renk1:hover,.renk2:hover,.renk3:hover{
    filter: saturate(200%);
    transform: scale(1.01);
    transition: all .35s ease-in-out;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}



#container{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 4vh 0px 1vh 0px;
}

a:hover, .haftaKutusu:hover, .yazarKutusu:hover, a:visited:hover{
    color: #21895C;
    transition-duration: 0.35s;
}

a:visited{
    color:blue;
}

.yazarKutusu,.haftaKutusu, #haftaBaslik{
    cursor: pointer;
}

#haftaBaslik:hover{
    background-color: #21895C;
    transition-duration: 0.35s;
}

#loading{    
    padding: 3vw;
    background-color: #2c2c2c;
    color: #dcddde;
    font-size: 25px;
}

/* Mobil */
@media (max-width:700px) { 
    #sonraki{
        order: 10;
    }
    
    #onceki{
        order: 8;
    }

    #hepsiSec{
        order:9;
    }
}

@media (min-width:1000px) { 
    td:first-child {  
        max-inline-size: 50ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
}